body{
    background-color:#f1f2f6;
}


body a:hover {
    position:relative;
    top:1px;
    right:1px;
}
#body{
    margin:0 auto;
    width:1010px;
}
#zuishang {
	border-bottom:1px solid white;
	width:100%;
	background-color:#E6E9EE;
	font-size:13px;
	color:#696562;
	margin-top:-8px;
}
#shouhang {
	height:20px;
	margin:0 auto;
	width:1010px;
}
#shouhang a {
	text-decoration:none;
}
#sousuo {
	float:right;
	width:51%;
	margin-right:-14px;
}
#sousuo ul li {
	list-style-type:none;
	float:left;
	padding-right:7px;
	margin-top:-10px;	
}
#bang {
	border-left:1px solid gray;
}
#sheweishouye {
	width:20%;
	float:left;
	padding-top:3px;
}

#hang1 {
	width:1010px;
	height:90px;
	margin:0 auto;
	background-color:#F1F2F6;
}
#hang1a img {
    float:left;
}
#hang1b img {
    margin:40px 0px 0px 60px;
    float:left;
}
#hang1c img {
	margin:37px 0px 0px 40px;
    float:left;
}
#hang1d {
	border-left:1px solid gray;
	margin-top:17px;
	font-size:13px;
    height:60px;
    width:330px;
    float:right;
    padding-left:25px;
}
#hang1d div {
    float:right;
    margin:5px 15px 0px 0px;
}
#dd{
    margin-top:5px;
}
#zhucaidan {
	width:100%;
	height:50px;
	background-color:#075991;
	margin-top:-20px;
}
#nei {
    width:1010px;
    height:50px;
    margin:0 auto;

}
#zhucaidan div ul li a {
	text-decoration:none;					
	color:white;
	padding:15px 10px;
    font-size:16px;
    float:left;
}
#zhucaidan div ul li {
	list-style-type:none;
    margin-left:-30px;   
}
#zhucaidan div ul li a:hover {
	background-color:#0F71B2;
    position:relative;
    top:0px;
    right:0px;
}
#kuai {
	float:right;
    margin-top:15px;
    margin-right:10px;
}

#hang2 {
	width:1010px;
	height:40px;
	margin:0 auto;
	background-color:#F4F9FD;
	border-bottom:1px solid #CFE2E3;
	border-left:1px solid #CFE2E3;
	border-right:1px solid #CFE2E3;
}
#hang2a {
	float:left;
    margin-top:5px;
    width:450px;
}
#hang2a img{
    width:31px;
    height:31px;
    float:left;
    margin-left:10px;
}
#search{
    float:left;
    height:25px;
    width:250px;
    font-size:20px;
}
#tie{
    float:left;
    height:31px;
}
#sou{
    height:31px;
    width:62px;
    margin-left:10px;
}
#hang2b {
	float:left;
    padding-left:35px;
    padding-top:10px;
	font-size:15px;
	text-decoration:none;
}
#hang2c {
	float:right;
    margin:5px 15px 0px 0px;
}
#hang2b a {
	text-decoration:none;
	color:#105098;
}





    
#foot {
    float:left;
    width:1010px;
    text-align:center;
    font-size:13px;
    color:#646468;
}
#foot ul li {
    float:left;
    list-style-type:none;
    padding:3px 6px;

}
.xiamiande {
    border-right:1px solid #cccccc;
}
#foot1 {
    width:400px;    
    height:20px;
    margin:0 auto;
}
#foot ul li a{
    text-decoration:none;
    color:#646468;
}
#foot2{
    
    text-align:center;
    margin-top:2px;
}
